#include "RealmSwift.xcconfig"

SUPPORTED_PLATFORMS = iphoneos iphonesimulator appletvos appletvsimulator;
IPHONEOS_DEPLOYMENT_TARGET = 11.0;
TVOS_DEPLOYMENT_TARGET = 11.0;
TARGETED_DEVICE_FAMILY = 1,2,3;

REALM_OBJC_MACH_O_TYPE = staticlib
MACH_O_TYPE = staticlib
EXECUTABLE_NAME = RealmSwift
PRODUCT_TYPE = com.apple.product-type.framework
DEBUG_INFORMATION_FORMAT = dwarf
